.badge{
    background-color: #2aa22e;
    margin-left: 3px;
}

.topNav ul li a{
    color:#fff;

}
.topNav ul li a:hover{
    background-color: #1b1c23;
}

.sideNav .nav-pills > li > a{
    border-radius: 0;
    color:#fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.sideNav .nav-pills > li > a:hover,
.sideNav .nav-pills > li.active > a{
    background-color: #444652;
}

.sideNav .fa{
    margin-right:10px;
    font-size: 15px;
}

.sideNav .nav-pills > li.active{
    border-left: 5px solid #fc6c53;
}

.sideNav .nav-pills > li.active > a{
    padding: 10px 15px 10px 10px;
}