body,html{
    margin:0;padding:0;height:100%;
    background: #f8f8f8;
}
.topHeader{
    display: flex;
}

.address{
    background: linear-gradient(to bottom,  #e5563f 0%,#d5533f 100%);
    width:250px;
    height:50px;
    line-height: 50px;
    color:#fff;
    font-size:12px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    display: inline-block;
}

header > section {
    background: #2f313e;
    display: inline-block;
    width: calc(100% - 250px);
}
header > section .profile{
    display:flex;
    text-decoration: none;
    float:left;
}
header > section .profileImg{
    overflow: hidden;
    border-radius: 50px;
    width:42px;
    height:42px;
    border:2px solid #fff;
    margin:4px 0 0 5px;
    display: block;
    position: relative;
}
header > section .profileImg img {
    left: -12px;
    max-height: 42px;
    position: relative;
    text-align: center;
}

.profileSearch{
    position: absolute;
    top:0;
    left:0;
    width:42px;
    height:42px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color:#fff;
    display:none;
}
.profileSearch .glyphicon-search{
    line-height: 35px;
}

header > section .profileImg:hover .profileSearch {
    display:block;
}

header > section .profile > span{
    color:#fff;
    font-size:12px;
    font-family: Verdana, Geneva, sans-serif;
    margin: 0 0 0 5px;
    line-height: 50px;
}
header > section .profile > span:hover{
    text-decoration: underline;
}

.topHeader .topNav{
    float:right;
}

.sideNav{
    background-color: #2f313e;
    width: 250px;
    float:left;
}

.sideNav .gmap{
    border: 1px solid #f1573c;
    height:172px;
}

.badge.memberNav {
    background-color: #fc5b3f;
}

.badge.alertNav {
    background-color: #ff3c50;
}

.navSection {
    color: #fff;
    font-size: 12px;
    line-height: 50px;
    padding-left: 35px;
    background: linear-gradient(to bottom,  #2e303d 0%,#2c2e3a 49%,#272934 100%); /* W3C */
    border-bottom: 1px solid #52545d;
    border-top: 1px solid #52545d;
    margin-bottom: 10px;
}

.loginBox{
    background: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    left:0;
    top:0;
}

.loginBox form{
    width:425px;
    height:350px;
    margin:100px auto;
    border-radius: 5px;
    padding:45px;

    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 1px 1px 30px 0px rgba(20, 67, 255, 0.75);
    -moz-box-shadow:    1px 1px 30px 0px rgba(20, 67, 255, 0.75);
    box-shadow:         1px 1px 30px 0px rgba(20, 67, 255, 0.75);
}

.loginBox form h1{
    font-size:40px;
    color:#fff;
    font-weight:bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.loginBox form p{
    font-size:12px;
    color:#fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 14px;
}

.loginBox form label{
    color:#fff;
    font-size: 12px;
    font-weight:  normal;
    display: inline-block;
    width:100px;
}
.loginBox form input[type=email],
.loginBox form input[type=password]{
    background: #1e4f8a;
    height: 36px;
    border: 1px solid #0d2e51;
    padding: 0 10px;
    color:#fff;
    margin-bottom: 10px;
}

.loginBox form input[type=checkbox]{
    margin-top: 5px;
    margin-left: 100px;
}


#login{
    -webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 0px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 0px 0px rgba(50, 50, 50, 0.75);
    margin:10px 118px 0px;
    color: #fff;
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size:16px;
    border: 0;
    border-radius: 10px;
    background: linear-gradient(to bottom,  #2989d8 0%,#1e5799 100%); /* W3C */
}

#login:hover{
    background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 100%); /* W3C */
}

#login:active{
    background: #1e4f8a;
}

.loginBox form .forgotPass{
    color: #fff;
    font-size: 12px;
    text-decoration: underline;
}

section.wrapper{
    padding:0 20px 20px;
    float:left;
    width: calc(100% - 250px);
    overflow: hidden;
}
section.wrapper header,
section.wrapper article{
    background: #fff;
    overflow: hidden;
}

section.wrapper header{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #2f313e;
    padding:20px 10px 10px;
    margin-bottom:10px;
}

section.wrapper header .alertMsg{
    color: #ff3c50;
    text-decoration: none;
    font-weight: bold;
}

.line-separator{
    height:1px;
    background:#f4f4f4;
    border-bottom:1px solid #f4f4f4;
    width: 100%;
    margin:15px 0 10px;
}

section.wrapper > article{
    padding: 10px 10px 0 10px;
    margin-bottom:10px;
}

section.wrapper article .title{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin:0;
    border-bottom:2px solid #f4f4f4;
    padding: 0 0 10px;
    overflow: hidden;
}
section.wrapper article .title a{
    float:left;
    text-decoration: none;
    color:#2f313e;
    font-weight: bold;
}
section.wrapper article .title span{
    float: right;
}

.important{
    color: #fc5b3f;
}
.thumb{
    float:left;
    border-right: 2px solid #f4f4f4;
    padding-right:5px;
    margin-right:5px;
    width: 190px;
}

.description{
    font-size: 12px;
    color:#2f313e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.indexConsum{
    background: #3498db;
    border-radius: 10px;
    height:35px;
    width:180px;
    text-align: center;
    color:#fff;
    border:0;
    margin:10px 0;
}
.adaugaMemento{
    background: #e74c3c;
    border-radius: 10px;
    height:35px;
    width:180px;
    text-align: center;
    color:#fff;
    border: 0;
    margin:0 0 10px;
}

/*
 * Members page
 */

#membru0 {
    left: 685px;
    position: absolute;
    top: 330px;
}
#membru1 {
    left: 648px;
    position: absolute;
    top: 75px;
}
#membru2 {
    left: 270px;
    position: absolute;
    top: 330px;
}
#membru3 {
    display: block;
    left: 655px;
    margin-bottom: 190px;
    position: absolute;
    top: 525px;
}
#membru4 {
    left: 889px;
    position: absolute;
    top: 332px;
}

#membru0, #membru1, #membru2, #membru3, #membru4 {
    display: none;
}

